@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Source+Sans+Pro:wght@300;400;600;700&display=swap');
body {
  background-color: rgb(34, 34, 34);
  font-family: 'Inter', sans-serif;
}

.App {
  text-align: center;
}

.StartPage {
  width: 390px;
  height: 100vh;
  object-fit: contain;
  background-image: url("./img/movieProjector.jpg");
}

h1 {
  color: rgb(213, 186, 250);
  padding: 1rem;
  font-weight: 400;
}

