nav {
    background-color: rgb(113, 71, 172);
    padding: 0 1rem;
    display: flex;
    justify-content: center;
}

nav a {
    color: rgba(213, 186, 250, 0.7);
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 600;
    margin: 1rem;
}