* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 390px;
    margin: auto;
}

.movieHeader {
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 1.4rem;
}

.movieHeader img{
    width: 200px;
    max-height: 290px;
    object-fit: contain;
    border-radius: 2rem 0 0 2rem;
}

.title {
    font-size: 1.6rem;
    padding: 1rem 0;
    margin-top: 0.2rem;
}

.runtime {
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 0.8rem;
    color: rgb(213, 186, 250);
}

.genre {
    font-size: 1.1rem;
    padding: 0.3rem;
}

.movieHeaderText {
    width: 150px;
    height: 290px;
    padding-left: 0.8rem;
    margin-left: -2px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.258), rgba(255, 255, 255, 0.064), rgba(255, 255, 255, 0));

}

.plot {
    color: rgba(255, 255, 255, 0.6);
    width: 80%;
    margin: auto;
    text-align: left;
    margin-bottom: 1.5rem;
}

.rating {
    color: rgba(255, 255, 255, 0.598);
    width: 70%;
    margin: auto;
    font-size: 1.4rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 1rem;
}

.dates  {
    margin: auto;
    width: 70%;
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
    margin-bottom: 2rem;
    color: rgb(213, 186, 250);
    font-weight: 400;
    font-size: 1.6rem;
}

.times {
    margin: auto;
    width: 70%;
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
    margin-bottom: 2rem;
    color: rgb(213, 186, 250);
    font-weight: 400;
    font-size: 1.6rem;
}

.pill {
    background-color: rgba(0, 0, 0, 0.502);
    border-radius: 1rem;
    padding: 0.4rem 1.2rem;
    margin: 0 0.5rem;
}

.selectedPill {
    background-color: rgb(113, 71, 172);
    /* border: 2px solid rgb(213, 186, 250); */
    border-radius: 1rem;
    padding: 0.4rem 1.2rem;
    margin: 0 0.5rem;
}

.bookButton {
    padding: 0.5rem 1.2rem;
    border-radius: 2rem;
    border: none;
    font-size: 1.2rem;
    font-weight: 600;
    background-color: rgb(113, 71, 172);
    color: rgba(213, 186, 250, 0.7);
}

h3 {
    color: rgb(213, 186, 250);
    font-weight: 300;
    font-size: 1.5rem;
}

form {
    color: rgba(255, 255, 255, 0.368);
}

form h3 {
    margin: 1rem;
}

.submitButton {
    background-color: aquamarine;
    border: none;
    background-color: rgb(113, 71, 172);
    padding: 0.8rem;
    border-radius: 2rem;
    font-size: 1.2rem;
    color: rgba(213, 186, 250, 0.607);
    margin-top: 1.5rem;
}

input[type=radio] {
    accent-color: rgb(113, 71, 172);
    margin-right: 0.2rem;
    margin-left: 1rem;
    width: 40px;
}

.formDateBox {
    display: flex;
    justify-content: center;
    margin: auto;
}

.formTimeBox {
    display: flex;
    justify-content: center;
    margin: auto;
}

.bookTicketsHeading {
    color: rgba(255, 255, 255, 0.6);
    font-size: 2rem;
}

.formSeatsBox {
    display: flex;
    justify-content: center;
}

.seat {
    background-color: rgb(62, 62, 62);
    width: 40px;
    height: 30px;
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 0.5rem 0.5rem  2rem  2rem;
}

.takenSeat {
    background-color: rgb(156, 68, 68);
    pointer-events: none;
}

.selectedSeat {
    background-color: rgb(68, 100, 156);
}