.projector {
    width: 220px;
    opacity: 20%;
}

.projector-container {
    width: 390px;
    position:fixed;
    bottom:20px;
}

.landingPageP {
    font-size: 1.5rem;
    padding: 1rem;
    color: rgba(255, 255, 255, 0.6);
    text-align: justify;
    width: 84%;
    margin: auto;
}

.landingPageH3 {
    margin: 1rem;
}

.AboutPageP {
    width: 80%;
    margin: auto;
    font-size: 1.2rem;
    padding: 1rem;
    color: rgba(255, 255, 255, 0.6);
    text-align: justify;
}

.AboutPageH3 {
    width: 85%;
    margin: auto;
    font-size: 1.4rem;
    margin-top: 1rem;
}